.x-window-header-text-default {
    font: bold 13px tahoma, arial, verdana, sans-serif;
}

.x-btn-default-small .x-btn-inner {
    font-size: 13px;
}

.x-form-field {
    font-size: 13px;
}

.x-form-item {
    font-size: 13px;
}

.x-form-item-label {
    font-size: 13px;
}
